@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

html {
    font-size: 14px;
   
}

 

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: auto;
}

h1 {
    font-size: 3.25rem;
}

h2 {
    font-size: 3.25rem;
}

h3 {
    font-size: 2rem;
}

img {
    display: block;
    width: 100%;
}

main {
    max-width: 900;
    margin: 1rem;
}

button {
    padding: 0.5rem 0.5rem;
    background-color: #c0c0c0;
    color: #696969;
    font-size: 1.5rem;
 }

.text-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 4rem;
   float: right;
}


 .notification-button{
     text-align: center;
 }



figure {
    margin: 0rem;
}

p {
    font-size: 1.5rem;
}

hr {
    max-width: 85%;
    text-align: center;
}

footer {
    margin-top: 5rem;
}

.footerlinks{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.footerlinks a {
    text-align: center;
    margin: 1.5em;
    text-decoration: none;
    font-size: 1.25rem;
}

section p {
    margin-bottom: 3rem;
}

summary {
    margin-top: 2rem;
}

#notification {
    background-color: 	#686868;
    color: white;
    padding: 1rem 2rem;
    margin-top: 1.5rem;

}



.hidden {
    display: none;
}

@media screen and (min-width: 900px){
        html {/* font-size: 12px */}
        .body-image {
            max-width: 50%
        }
        .hero-image {
            max-height: 50vh;
        }
        .container {
            display: flex;
             flex-wrap: wrap;
        }
        .body-image {
             flex: 30%;
             padding: 5px;
        }
         .notification-button {
           text-align: left; 
        }
       
    }

    @media screen and (min-width: 1200px){
        html {font-size: 12px}
        .hero-image { max-height: 50vh;}
        .container {
            display: flex;
            flex-wrap: wrap;
        }
        .body-image {
             flex: 30%;
             padding: 5px;
        }
        .notification-button {
           text-align: left; 
           margin: 2rem 0rem;
        }
        
      
    }