@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

html {
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: auto;
}

h1 {
    font-size: 3.25rem;
}

h2 {
    font-size: 3.25rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

img {
    display: block;
    width: 100%;
}

.hero-image2 {
    display: none;
}

.article-preview-image {
             flex: 30%;
             padding: 5px;
}

main {
    max-width: 900;
    margin: 1rem;
}

button {
    padding: 0.5rem 0.5rem;
    background-color: #336B87;
    color: white;
    font-size: 1.5rem;
 }

.text-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 4rem;
   float: right;
}

 .notification-button {
     text-align: center;
      margin: 2rem 0rem
 }

 #notification {
    background-color: 	#336B87;
    color: white;
    padding: 1rem 2rem;
    margin-top: 1.5rem;
}

figure {
    margin: 0rem;
}

hr {
    max-width: 85%;
    text-align: center;
}

footer {
    margin-top: 5rem;
}

footer nav {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

footer nav a {
    text-align: center;
    margin: 1.5em;
    text-decoration: none;
    font-size: 1.25rem;
}

section p {
    margin-bottom: 3rem;
}

summary {
    margin-top: 2rem;
}

.hidden {
    display: none;
}

@media screen and (min-width: 750px){
        html {
            font-size: 12px
        }

        h1 {
            font-size: 4rem; 
        }
        h2 {
            font-size: 3rem;
        }
       
         main {
           margin: 0 5rem;
        }

        .hero-image {
            display: none;
        }

         .hero-image2 {
            max-height: 50vh;
            display: block; 
        }

         .article-preview-image {
             flex: 40%;
             padding: 5px;
        }
        
        .article-link-container {
            display: flex;
             flex-wrap: wrap;
        }
       
         .notification-button {
           text-align: left; 
        }
    }

    @media screen and (min-width: 1000px){
        html {
            font-size: 12px
        }

        h1 {
            font-size: 4rem; 
        }

        h2 {
            font-size: 3rem;
        }

        main {
           margin: 0 5rem;
        }

        .hero-image {
            display: none;
        }

         .hero-image2 {
            max-height: 50vh;
            display: block; 
        }

        .article-preview-image {
             flex: 30%;
             padding: 5px;
        }

        .article-link-container {
            display: flex;
            flex-wrap: wrap;
        }
         
        
        .notification-button {
           text-align: left; 
        }
    }